{# templates/customers/customer_list.html #}
{% extends 'base.html' %}

{% block title %}Mijozlar - CRM Fashion{% endblock title %}
{% block page_header %}Mijozlar ro‘yxati{% endblock page_header %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Mijozlar</h3>
                    <a href="#" class="btn btn-success btn-sm float-right">Yangi mijoz</a>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ism</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th>Yaratilgan sanasi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>
                                    <a href="{% url 'customer_detail' customer.pk %}">
                                        {{ customer.first_name }} {{ customer.last_name }}
                                    </a>
                                </td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.created_at|date:"Y-m-d" }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Mijoz topilmadi</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Agar sahifalash kerak bo‘lsa: -->
                <div class="card-footer clearfix">
                    {% if is_paginated %}
                    <ul class="pagination pagination-sm m-0 float-right">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
                        {% endif %}

                        {% for num in paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
